body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

.toggleBtn {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
